@model PUC.LDSI.Domain.Entities.Questao

@{
    ViewData["Title"] = "Excluir Questão";
}

<h2>@ViewData["Title"]</h2>

<h3>Confirma a exclusão desta questão?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd>
            @{ 
                var tipo = (Model.Tipo == 1 ? "Múltipla Escolha" : "Verdadeiro ou Falso"); 
            }
            @tipo
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enunciado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enunciado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-default" /> 
        <a asp-action="Index" asp-route-avaliacaoId="@Model.AvaliacaoId" class="btn btn-default">Cancelar</a>
    </form>
</div>
