@model IEnumerable<PUC.LDSI.Domain.Entities.Avaliacao>

@{
    ViewData["Title"] = "Avaliações";
}

<h2>Avaliações</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Criar Nova</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Professor</th>
            <th>Disciplina</th>
            <th>Matéria</th>
            <th>Descrição</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Professor.Nome)</td>
            <td>@Html.DisplayFor(modelItem => item.Disciplina)</td>
            <td>@Html.DisplayFor(modelItem => item.Materia)</td>
            <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
            <td style="text-align:right;">
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit" title="Editar Avaliação"></i></a>&nbsp;
                <a asp-action="Index" asp-controller="Questao" asp-route-avaliacaoId="@item.Id"><i class="fas fa-tools" title="Construir Avaliação"></i></a>&nbsp;
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt" title="Excluir Avaliação"></i></a>&nbsp;
            </td>
        </tr>
    }
    </tbody>
</table>
